body {
    font-size: 16px;
    font-family: system-ui;
    background-image: url("../images/bzz_horgen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.form{
    width: 100%;

}
h2{
    align-items: center;
    color: dodgerblue;
    font-weight: 800;
    font-size: 200%;
}

h3{
    align-items: center;
    font-size: 100%;
    margin-top: -20px;
    color: dodgerblue;
    font-weight:600;
    margin-bottom: -20px;

}
h6{
    font-weight:500;
    font-size: 80%;



}
h4{
    margin-bottom: 5px;
    font-size: 97%;
    font-weight: 500;
}
h5{
    font-weight: 100;
}
form {
    width: 300px;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: 4% auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
label {
    display: block;
    margin-bottom: 5px
}
label i {
    color: #999;
    font-size: 80%;
}
input, select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #a9bae64a;
}
.box {
    padding-bottom: 10px;
}
.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}
.error {
    color: red;
    font-size: 90%;
}
input[type=text]{
    outline: none;
}

input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: dodgerblue;
    border-color: dodgerblue;
    box-shadow: 0 3px 0 royalblue;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: royalblue;
    border-color: royalblue;
    box-shadow: 0 3px 0 dodgerblue;;
}

.input-1{
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:2px solid #01cc40;
}
.input-2{
    background-image: url(../images/cancel.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:2px solid red;
}
.input-3{
    border:2px solid #01cc40!important;
}
select{
    outline: none!important;
}
.input-4{
    border:2px solid red;
}